Match exec "grep -qx '%h' %d/.cache/gce-vms 2>/dev/null"
  User __OSLOGIN_USER__
  IdentityFile ~/.ssh/google_compute_engine
  ProxyCommand ~/.local/bin/iap-proxy %h %p
  ConnectionAttempts 4
  ConnectTimeout 30
  StrictHostKeyChecking accept-new
